# dependencies
node_modules/
mobile/node_modules/
backend/.venv/
.venv/

# env files
.env
.env.local
.env.*.local
backend/.env

# Expo
mobile/.expo/
mobile/web-build/
mobile/expo-env.d.ts

# OS files
.DS_Store
Thumbs.db
